<div class="cointainer1">
    <img class="mainlogo" src="assets/Images/idp-logo.svg" width="240" height="58">
    <div class="container1right">
        <div class="events">
            <a class="opt1" routerLink=""> <i class="fa fa-home"></i> Home</a>
        </div>
        <div class="events">
            <a class="opt1" routerLink="bloglists"><i class="fa fa-rocket" ></i>Blog List</a>
        </div>
        <div class=" events">
            <a routerLink="addBlog" class="opt1"><i class="fa fa-edit" ></i>Add Blog</a>
        </div>

    </div>
</div>
<div class="clear">

</div>