.container11{
    border:1px solid #1d202c;
    height: 550px;
    display: flex;
    gap:10px;
    background-color:#1d202c;
}
a{
    text-decoration: none;
    color: white;
}

.con11col{
    padding-top: 25px;
   border:0px ;
   width: 220px;
   margin-left: 17%;
   color:white;
   line-height: 50px;
}
.con11col2{
    padding-top: 25px;
    border:0px;
    width: 220px;
    color:white;
     line-height: 50px;
   

}
.con11list1{
    list-style: none;
    padding:0px;
    
}
