<div class="container11">
    <div class="con11col">
        <div class="con11col1">

            <ul class="con11list1">
                <li>
                    <h4>Study Abroad</h4>
                </li>
                <a class="con5bg2">
                    <li>How to choose your destination</li>
                </a>
                <a class="con5bg2">
                    <li>Study abroad intakes</li>
                </a>
                <a class="con5bg2">
                    <li>Guide for parents</li>
                </a>
                <a class="con5bg2">
                    <li>The World University Rankings</li>
                </a>
                <a class="con5bg2">
                    <li>QS World University Rnakings</li>
                </a>
                <a class="con5bg2">
                    <li>IDP Events</li>
                </a>
                <a class="con5bg2">
                    <li>Institution answers</li>
                </a>
                <a class="con5bg2">
                    <li>Student Essentails</li>
                </a>
            </ul>
        </div>




    </div>
    <div class="con11col2">

        <ul class="con11list1">
            <li>
                <h4>Useful Links</h4>
            </li>
            <a class="con5bg2">
                <li>IDP Blog</li>
            </a>
            <a class="con5bg2">
                <li>Enginerering courses</li>
            </a>
            <a class="con5bg2">
                <li>Health and medicine</li>
            </a>
            <a class="con5bg2">
                <li>Information technology</li>
            </a>
            <a class="con5bg2">
                <li>Management courses</li>
            </a>
            <a class="con5bg2">
                <li>Scholarships to study abroad</li>
            </a>
            <a class="con5bg2">
                <li>Student Reviews</li>
            </a>

        </ul>

    </div>

    <div class="con11col2">

        <ul class="con11list1">
            <li>
                <h4>IELTS</h4>
            </li>
            <a class="con5bg2">
                <li>What is IELTS?</li>
            </a>
            <a class="con5bg2">
                <li>Prepare for IELTS</li>
            </a>
            <a class="con5bg2">
                <li>Computer-delivered IELTS</li>
            </a>
            <a class="con5bg2">
                <li>Book my IELTS test</li>
            </a>
            <a class="con5bg2">
                <li>IELTS for UKVI</li>
            </a>
            <a class="con5bg2">
                <li>IELTS for dates</li>
            </a>
            <a class="con5bg2">
                <li>About IDP IELTS</li>
            </a>

        </ul>

    </div>
    <div class="con11col2">

        <ul class="con11list1">
            <li>
                <h4>Connect with IDP</h4>
            </li>
            <a class="con5bg2" href="#">
                <li>IDP in the news</li>
            </a>
            <a class="con5bg2">
                <li>About IDP</li>
            </a>
            <a class="con5bg2">
                <li>Request an appointment</li>
            </a>
            <a class="con5bg2">
                <li>Contact us</li>
            </a>
            <a class="con5bg2">
                <li>About IDP Corporate</li>
            </a>
            <a class="con5bg2">
                <li>IDP Career</li>
            </a>
            <a class="con5bg2">
                <li>Customer Grievances</li>
            </a>
            <a class="con5bg2">
                <li>Corporate</li>
            </a>

        </ul>



    </div>
</div>